<div class="row">
    <div class="col-md-3">
        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
            <div class="card-body">
               <div class="progress-widget">
               
                  <div class="progress-detail">
                     <p  class="mb-2">Asignaturas aprobadas</p>
                     <h4 class="counter">40</h4>
                  </div>
               </div>
            </div>
         </li>
    </div>
    <div class="col-md-3">
        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
            <div class="card-body">
               <div class="progress-widget">
               
                  <div class="progress-detail">
                     <p  class="mb-2">Trimestres cursados</p>
                     <h4 class="counter">40</h4>
                  </div>
               </div>
            </div>
         </li>
    </div>
    <div class="col-md-3">
        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
            <div class="card-body">
               <div class="progress-widget">
               
                  <div class="progress-detail">
                     <p  class="mb-2">Creditos aprobados</p>
                     <h4 class="counter">40</h4>
                  </div>
               </div>
            </div>
         </li>
    </div>
    <div class="col-md-3">
        <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
            <div class="card-body">
               <div class="progress-widget">
               
                  <div class="progress-detail">
                     <p  class="mb-2">Indice General</p>
                     <h4 class="counter">4.0</h4>
                  </div>
               </div>
            </div>
         </li>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between flex-wrap">
                <div class="header-title">
                    <h4 class="card-title mb-0">Asignaturas</h4>
                </div>
              
            </div>
            <div class="card-body">
                <div *ngIf="materia != '' " class="table-responsive">
                    <table class="table table-bordered px-4">
                        <thead>
                            <tr>
                                <th>Seccion</th>
                                <th class="">Asignatura</th>
                                
                                <th class="">Profesor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>
                                    1
                                </td>
                                <td class="">
                                    {{materia}}
                                </td>
                            
                                <td class="text-center">
                                    {{profesor}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="materia == ''">
                    Aun no tienes materias seleccionadas este trimestre.
                </div>
            </div>
        </div>
    </div>
</div>