<div class="bg-white row height-100">
    <div class="mt-4 gray-font-color">
        <ul class="text-start">
            <li>
                <button class="btn btn-primary text-white primary-button menu-button text-start shadow"
                routerLink="basic-info" routerLinkActive="active">
                    <i class="fa-solid fa-house"></i>
                     Inicio
                </button>
            </li>
            <li>
                <button class="btn menu-button text-start">
                    <i class="fa-solid fa-square"></i>
                    Panel de Control
                </button>
            </li>
            <p class="m-0 mt-3 mb-1">Opciones</p>
            <li class="mt-0">
                <button class="btn menu-button text-start mt-0">
                    <i class="fa-solid fa-users"></i>
                    Califaciones
                </button>
            </li>
            <li>
                <button class="btn menu-button text-start">
                    <i class="fa-solid fa-calendar"></i>
                    Pagos
                </button>
            </li>
            <li>
                <button class="btn menu-button text-start">
                    <i class="fa-solid fa-check"></i>
                    Seleccion
                </button>
            </li>
    
        </ul>
    </div>
   

</div>