// .image-frame {
//     width: 30px; /* Ancho de la imagen */
//     height: 30px; /* Altura de la imagen */
//     border-radius: 50%; /* Hace que el borde sea redondo */
//     overflow: hidden; /* Recorta cualquier contenido que se salga del marco */
// }
// .image-frame img {
//     width: 100%; /* Llena el 100% del espacio del marco */
//     height: 100%; /* Llena el 100% del espacio del marco */
//     object-fit: cover; /* Escala y recorta la imagen para que llene el marco */
// }

.image-frame {
    display: flex;
    align-items: center;
    text-align: center;
}
.image-frame img {
    width: 30px; /* Ancho de la imagen */
    height: 30px; /* Altura de la imagen */
    border-radius: 50%; /* Hace que el borde sea redondo */
    object-fit: cover; /* Escala y recorta la imageara que llene el marco */
}
.rol-text {
    font-size: 0.7rem;
}