<nav class="navbar  bg-white" >
    <div class="container-fluid">
        <a  class="navbar-brand ms-5" href="#">
            <img
              src="./../../../favicon.svg"
              alt=""
              width="30"
              height="30"
            />
         <b>Jarvis</b> 
            <!-- <h1 class="text-white">Logo</h1> -->
          </a>

          <div class=" image-frame text-end align-middle  mt-0 me-5">
            <img src="./../../../../assets/usuario-verificado.png" alt="userfoto" class="me-3">
            <div class="user-name align-middle m-0">
              <p class="m-0 text-start"><small>Elsa Caputa</small></p>
              <p class="text-start m-0 rol-text">Estudiante</p>
            </div>
          </div>
          

    </div>


   
  </nav>