<nav class="navbar navbar-expand-lg navbar-light bg-white custom-menu">
    <div class="container">
      <!-- Logo a la izquierda -->
      <a  class="navbar-brand primary" href="#">
        <img
          src="./../../../favicon.svg"
          alt=""
          width="60"
          height="60"
        />
      <p class="d-inline"><b>Jarvis</b> </p> 
        <!-- <h1 class="text-white">Logo</h1> -->
      </a>

      <!-- <a class="navbar-brand" href="#">
        <img src="tu-logo.png" alt="Logo" width="40">
      </a> -->
      <!-- Menú de navegación -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
     
        </ul>
      </div>
    </div>
  </nav>