<div class="img">
<header>
    <nav class="navbar navbar-expand-lg  bg-transparent">
      <div class="container justif-content-center">
        <a  class="navbar-brand primary" href="#">
          <img
            src="./../../../favicon.svg"
            alt=""
            width="60"
            height="60"
          />
        <b>Jarvis</b>  
          <!-- <h1 class="text-white">Logo</h1> -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end fw-bold" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a
                class="nav-link text-white text-shadow"
                routerLink="/home"
                routerLinkActive="text-orangeTheme"
                aria-current="page"
                href="#"
                >Acerca de</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white text-shadow"
                href="#habitacionesSection"
                rel="noopener noreferrer"
                target="_self"
                >Documentación</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white text-shadow"
                routerLink="/galery"
                routerLinkActive="text-orangeTheme"
                href="#"
                >Galeria</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white text-shadow"
                routerLink="/nosotros"
                routerLinkActive="text-orangeTheme"
                >Ofertas</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white text-shadow"
                routerLink="/contact-us"
                routerLinkActive="text-orangeTheme"
                >Contactanos</a
              >
            </li>
          </ul>
          <ul class="navbar-nav d-flex justif-content-end text-right">
            <li class="nav-item">
              <a
                class=" btn btn-primary login-button text-white fw-bold"
                routerLink="/auth/login"
                routerLinkActive=""
                style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: .85rem;"
              >
              Iniciar Sesión 
              <i class="fa-solid fa-right-to-bracket"></i>
                </a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


<div class="text-center text-shadow text-white fz-bold">
    <p class="brand-text mt-5"> <b> Tu solucion de gestión</b></p>
    <p class="brand-text"> <b>academica para todos los niveles </b></p>
    <button class="btn btn-primary btn-lg fw-bold fs-4 brand-button">Contacta con nosotros</button>
</div>
</div>

<!-- <div class="img-header">
<img src="./../../../assets/home-bg.jpg" class="w-100 d-flex" alt="">
</div>
   -->

<div class="container">
<div class="text-center mt-4">
    <h1 class="text-secondary">Servicios que ofrecemos</h1>
    <div class="row mt-5">
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card border-primary" style="width: 18rem;">
                <img src="./../../../assets/calculator.svg" width="88" height="88" class="card-img-top mt-4" alt="...">
                <div class="card-body gap-2">
                  <h5 class="card-title">Calculadora de indice</h5>
                  <hr class="">
                  <div class="d-grid gap-2">
                  <button href="#" class="btn btn-primary primary-button ">Ver mas</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="card border-primary" style="width: 18rem;">
              <img src="./../../../assets/prestado.svg" width="88" height="88" class="card-img-top mt-4" alt="...">
              <div class="card-body gap-2">
                <h5 class="card-title">Gestion de pagos</h5>
                <hr class="">
                <div class="d-grid gap-2">
                <button href="#" class="btn btn-primary primary-button ">Ver mas</button>
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card border-primary" style="width: 18rem;">
            <img src="./../../../assets/horario.svg" width="88" height="88" class="card-img-top mt-4" alt="...">
            <div class="card-body gap-2">
              <h5 class="card-title">Gestion de horarios</h5>
              <hr class="">
              <div class="d-grid gap-2">
              <button href="#" class="btn btn-primary primary-button ">Ver mas</button>
              </div>
            </div>
          </div>
    </div>
     
    </div>
</div>
</div>



<div class="news-section">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 class="text-secondary mt-4">Noticias Recientes</h1>
      </div>
    </div>
      <div class="row text-center mt-4">
          <div class="col-md-4 d-flex justify-content-center mb-5">
              <div class="card shadow-lg" style="width: 18rem;">
                  <img src="./../../../assets/cloud-architect.png" width="165" height="165" class="card-img-top mt-4 p-3" alt="...">
                  <div class="card-body gap-2">
                    <h5 class="card-title">Adquisicion CMMI Level 5</h5>
                    <hr class="">
                    <p class="text-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <div class="d-grid gap-2">
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center mb-5">
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="./../../../assets/cloud-architect.png" width="165" height="165" class="card-img-top mt-4 p-3" alt="...">
                <div class="card-body gap-2">
                  <h5 class="card-title">Adquisicion CMMI Level 5</h5>
                  <hr class="">
                  <p class="text-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  <div class="d-grid gap-2">
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center mb-5">
          <div class="card shadow-lg" style="width: 18rem;">
              <img src="./../../../assets/cloud-architect.png" width="165" height="165" class="card-img-top mt-4 p-3" alt="...">
              <div class="card-body gap-2">
                <h5 class="card-title">Adquisicion CMMI Level 5</h5>
                <hr class="">
                <p class="text-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <div class="d-grid gap-2">
                </div>
              </div>
            </div>
      </div>
    
       
      </div>
  </div>
</div>


<div class="mb-5">
  <div class="container">
    <div class="row mt-5">
      <div class="text-center">
        <h1 class="text-secondary mt-4">Principales Clientes</h1>
      </div>
    </div>
      <div class="row text-center mt-4">
          <div class="col-md-3 d-flex justify-content-center">
             <img src="./../../../assets/intec.png" alt="" width="250" height="100">
          </div>

          <div class="col-md-3 d-flex justify-content-center">
            <img src="./../../../assets/itla.png" alt="" width="250" height="100">
         </div>

         <div class="col-md-3 d-flex justify-content-center">
          <img src="./../../../assets/unibe.png" alt="" width="250" height="100">
       </div>

       <div class="col-md-3 d-flex justify-content-center">
        <img src="./../../../assets/pucmm.png" alt="" width="100" height="100">
     </div>
         
    
       
      </div>
  </div>
</div>


<footer class="bg-blue">
  <div class="container">
      <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
  </div>
</footer>