:root {
    --primary-blue: #3A57E8;
    --primary-dark-blue: #0048B2;
    --secondary-text: #6C757D;
  }



  .primary {
    color: var(--primary-blue);
  }

  .primary-button {
      background-color: #3A57E8;
      color: white;
      border-color: #3A57E8 ;
  }

  .primary-button:hover{
    background-color: #041a88;
    border-color: #041a88;
  }

  .dark-blue {
    color: #232D42;
  }